<div class="h-full flex flex-col justify-between gap-4">
  <div #scrollContainer class="flex-1 flex flex-col gap-4 overflow-y-auto">
    @if (messages().length > 0) { @for (msg of messages(); track msg.id) {
    <div
      class="mb-2 flex {{ msg.isGenerated ? 'justify-start' : 'justify-end' }}"
    >
      <div
        class="rounded px-4 py-2
        bg-(--mat-sys-primary-container) text-(--mat-sys-on-primary-container)
        w-fit max-w-9/10
        {{ msg.isGenerated ? 'text-left': 'text-right'}}"
      >
        @if (msg.loading){
        <mat-progress-spinner
          diameter="24"
          mode="indeterminate"
          color="primary"
        ></mat-progress-spinner>
        } @else {
        <div class="mt-1 break-words">
          <markdown lineNumbers>{{ msg.content }}</markdown>
        </div>
        <span class="text-xs">{{ msg.timestamp | date:'shortTime' }}</span>
        }
      </div>
    </div>
    } } @else if(isLoading()) {
    <div class="flex-1 flex items-center justify-center">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    } @else {
    <div class="text-center text-(--mat-sys-on-surface-variant)">
      No messages yet.
    </div>
    }
  </div>
  <form
    class="flex flex-row gap-2 items-end"
    (ngSubmit)="sendMessage(inputMessage())"
  >
    <mat-form-field class="flex-1" appearance="outline">
      <input
        matInput
        placeholder="Type your question..."
        [disabled]="isLoading() || isLastMessageLoading()"
        [(ngModel)]="inputMessage"
        name="messageInput"
        required
        autocomplete="off"
      />
      @if(isLoading() || isLastMessageLoading()) {
      <mat-progress-spinner
        matSuffix
        diameter="24"
        mode="indeterminate"
        class="mx-2"
      ></mat-progress-spinner>
      } @else {
      <button
        mat-icon-button
        matSuffix
        color="primary"
        type="submit"
        [disabled]="!inputMessage() || inputMessage().trim() === ''"
        aria-label="Send"
      >
        <mat-icon>send</mat-icon>
      </button>
      }
    </mat-form-field>
  </form>
</div>
