<div class="flex gap-2 items-center">
  <button
    mat-icon-button
    aria-label="Back to report overview"
    [disabled]="!selectedReportId()"
    (click)="selectedReportId.set(undefined)"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="text-xl font-semibold">Reports</h2>
</div>

<!-- switch between list and content -->
@if (selectedReportId()){
<app-report-content [reportId]="selectedReportId()!"></app-report-content>
} @else {
<app-report-list
  (selectedReportId)="selectedReportId.set($event)"
></app-report-list>
}

<!-- Always show the form below -->
<div class="mt-4">
  @if (!showForm()) {
  <button
    mat-mini-fab
    color="primary"
    aria-label="Add report"
    (click)="displayForm()"
  >
    <mat-icon>add</mat-icon>
  </button>
  } @else {
  <form
    class="flex items-start justify-between rounded outline !outline-(--mat-sys-outline-variant) !shadow-(--mat-sys-level2) pt-4"
    (ngSubmit)="onSubmit()"
  >
    <button
      mat-icon-button
      type="button"
      (click)="onCancel()"
      aria-label="Cancel"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="flex flex-wrap gap-x-4">
      <mat-form-field appearance="outline" class="!max-w-35">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="periodStart"
          name="startDate"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="!max-w-35">
        <mat-label>End Date</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="periodEnd"
          name="endDate"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Users</mat-label>
        <mat-select multiple [(ngModel)]="userIds" name="userIds">
          @for (user of possibleUsers(); track user.id) {
          <mat-option [value]="user.id">{{ user.username }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button color="primary" type="submit" aria-label="Send">
      <mat-icon>send</mat-icon>
    </button>
  </form>
  }
</div>
