<div class="flex flex-col gap-4">
  <!-- Project Users List -->
  <h2 class="text-lg font-medium">Project Members</h2>
  @if (projectsUser().length > 0) {
  <mat-action-list>
    @for (user of projectsUser(); let i = $index; track user.id) {
    <div
      mat-list-item
      class="flex flex-row items-center justify-between w-full my-1"
    >
      <div class="flex flex-col">
        <span>{{ user.username }}</span>
        <span class="text-(--mat-sys-secondary)">{{ user.email }}</span>
      </div>
      <button
        mat-icon-button
        color="warn"
        aria-label="Remove user"
        (click)="removeUserFromProject(user.id)"
        [disabled]="user.id === signedInUser()?.id"
      >
        @if(user.id === signedInUser()?.id) {
        <mat-icon>person</mat-icon>
        } @else {
        <mat-icon>remove_circle</mat-icon>
        }
      </button>
    </div>
    @if (i < projectsUser().length - 1) {
    <mat-divider></mat-divider>
    } }
  </mat-action-list>
  } @else {
  <div>No users in this project.</div>
  }
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Add users</mat-label>
    <input
      type="text"
      placeholder="Type name or email"
      matInput
      name="userSearch"
      [matAutocomplete]="auto"
      [(ngModel)]="userSearch"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onUserSelected($event.option.value)"
    >
      @for (user of filteredUsersToAdd(); track user.id) {
      <mat-option [value]="user">
        <span>{{ user.username }}</span>
        <span class="text-(--mat-sys-secondary) ml-2">{{ user.email }}</span>
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
