fastapi
uvicorn
aio-pika
weaviate-client==4.*
pydantic
langchain-community
langchain-ollama
langchain-weaviate
langchain-openai
langchain-nomic
transformers
sqlalchemy
aiomysql
asyncmy
pytest
pytest-asyncio
pytest-cov
aiosqlite
flake8