@if (isLoadingMappings()){
<div class="flex flex-row items-center justify-center">
  <mat-progress-spinner
    diameter="24"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
} @else {
<form class="flex flex-col gap-2">
  @for (key of platformUsers().keys(); track key) {
  <div class="flex flex-row items-center gap-2">
    <mat-form-field appearance="outline" class="flex-0.5">
      <input
        matInput
        type="text"
        [disabled]="true"
        name="platformInput"
        [value]="platformUsers()?.get(key)?.platform"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-1">
      <input
        matInput
        type="text"
        [disabled]="true"
        name="platformUserInput"
        [value]="platformUsers()?.get(key)?.platformUserId"
      />
    </mat-form-field>

    @if(currentlyEditedUser()?.id === platformUsers()?.get(key)?.userId) {
    <!-- the currently edited mapping  -->
    <mat-form-field appearance="outline" class="flex-1">
      <input
        matInput
        type="text"
        name="usernameInput"
        [ngModel]="projectUsers().get(key)?.username"
        (ngModelChange)="onCurrentlyEditedUserChange($event)"
      />
      @if (isPostingMapping()){
      <mat-progress-spinner
        matSuffix
        diameter="24"
        mode="indeterminate"
        color="primary"
        class="mx-2"
      ></mat-progress-spinner>
      } @else {
      <div matSuffix>
        <button
          mat-icon-button
          type="button"
          (click)="currentlyEditedUser.set(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          [disabled]="
            currentlyEditedUser()?.id ===
            platformUsers()?.get(key)?.userId
          "
          (click)="onSubmitMapping()"
        >
          <mat-icon>check</mat-icon>
        </button>
      </div>
      }
    </mat-form-field>
    } @else {
    <!-- any non edited mapping -->
    <mat-form-field appearance="outline" class="flex-1">
      <input
        matInput
        type="text"
        [disabled]="true"
        [value]="platformUsers()?.get(key)?.platformUserId ?? ''"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        [disabled]="currentlyEditedUser()"
        (click)="currentlyEditedUser.set(projectUsers()?.get(key) ?? null)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-form-field>
    }
  </div>
  }
</form>
}
