<div class="flex flex-col gap-4">
  <div class="flex flex-row gap-2 items-center">
    <h2 class="text-lg font-medium">Version Control Settings</h2>
    <button matIconButton (click)="openInfoDialog()"
            matTooltip="Version Control Settings Guide" 
            matTooltipPosition="right"
            aria-label="Version Control Settings Guide">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>

  <app-settings-sdlc-token></app-settings-sdlc-token>

  <app-settings-sdlc-users></app-settings-sdlc-users>
</div>
