<div class="h-full flex flex-col">
  @if (isLoading()) {
  <div class="flex-1 flex items-center justify-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  } @else if (reports().length === 0) {
  <span>No reports available.</span>
  } @else {
  <mat-action-list class="flex-1 min-h-0">
    @for (report of reports(); track report.id) {
    <button
      mat-list-item
      class="!rounded-full"
      [disabled]="report.loading"
      (click)="onReportSelected(report.id)"
    >
      <span class="flex items-center gap-2">
        {{report.name}} @if (report.loading){
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        }
      </span>
    </button>
    }
  </mat-action-list>
  }
</div>
