<form
  class="flex flex-row items-center gap-2"
  (ngSubmit)="onSubmit()"
  name="serverId"
>
  <mat-form-field>
    <mat-select
      [value]="selectedPlatform()"
      (valueChange)="onPlatformChange($event)"
    >
      @for (platform of platforms; track platform) {
        <mat-option [value]="platform">{{ platform }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="flex-1">
    <input
      matInput
      [type]="showServerId() ? 'text' : 'password'"
      [disabled]="isLoading()"
      name="serverIdInput"
      placeholder="Enter platform server ID"
      [(ngModel)]="serverIdInput"
      (ngModelChange)="confirmation.set(false)"
      (submit)="onSubmit()"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      [disabled]="!serverIdInput()"
      (click)="showServerId.set(!showServerId())"
      [attr.aria-label]="showServerId() ? 'Hide server ID' : 'Show server ID'"
    >
      <mat-icon>{{
        showServerId() ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="mb-4">
    @if(isLoading()) {
    <mat-progress-spinner
      matSuffix
      diameter="24"
      mode="indeterminate"
      color="primary"
      class="mx-2"
    ></mat-progress-spinner>
    } @else {
    <button
      mat-icon-button
      type="button"
      (click)="onSubmit()"
      [disabled]="confirmation() || serverIdInput() === ''"
    >
      <mat-icon>{{ confirmation() ? "check" : "send" }}</mat-icon>
    </button>
    }
  </div>
</form>
@if(selectedPlatform() === 'Discord'){
<div class="flex flex-row items-center justify-center mb-1">
  <a mat-raised-button href="https://discord.com/oauth2/authorize?client_id=1377229494263222302">Click here to install the Discord bot</a>
</div>
}